nav {
  background-color: rgba(0, 0, 0, 0.3);
  width: fit-content;
  display: block;
  padding: 0.7rem 2rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 1.3rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  justify-content: space-between;
  align-items: center;
}

nav a {
  background: transparent;
  padding: 0.9rem;
  color: var(--color-light);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: 1.1rem;
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

nav a.active {
  border: 1px solid var(--color-primary);
  color: var(--color-white);
}
